<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="/css/dashboard/config.css">

<main>
    <div class="container-fluid" id="config-container">
        <h2 class="text-center mb-4">Configurações de Perfil</h2>

        <!-- Formulário para atualizar imagem de perfil -->
        <div class="col-12 profile-container">
            <img id="perfilPreview" src="{{user.profile_picture}}" alt="Imagem de Perfil" class="profile-img">
            <form action="/dashboard/updateImageProfile" enctype="multipart/form-data" method="post">
                <input type="hidden" name="userId" value="{{user.id}}">
                <label for="fileInput" class="upload-icon">
                    <i class="bi bi-camera"></i>
                </label>
                <input 
                    type="file" 
                    id="fileInput" 
                    name="profile_picture" 
                    class="file-input" 
                    accept="image/*" 
                    onchange="this.form.submit()"
                >
            </form>
        </div>

        <!-- Formulário principal -->
        <form action="/dashboard/updateProfile" method="POST" autocomplete="off">
            <input type="hidden" name="userId" value="{{user.id}}">

            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 mb-4">
                    <label for="fullName">Nome Completo:</label>
                    <input type="text" class="form-control" id="fullName" name="name" value="{{user.name}}">
                </div>

                <div class="col-6 mb-3">
                    <label for="firstName">Nome:</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" value="{{user.firstName}}">
                </div>

                <div class="col-6 mb-3">
                    <label for="lastName">Sobrenome:</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" value="{{user.lastName}}">
                </div>

                <div class="col-12 col-md-6 col-lg-6 mb-3">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" class="form-control" value="{{user.email}}">
                </div>

                <div class="col-12 col-md-6 col-lg-6 mb-3">
                    <label for="role">Função:</label>
                    <input type="text" id="role" name="role" class="form-control" value="{{user.role}}">
                </div>

                <div class="col-12 col-md-12 col-lg-12 mb-3">
                    <label for="country">País:</label>
                    <input 
                        type="text" 
                        id="country" 
                        name="country" 
                        class="form-control" 
                        value="{{user.country}}" 
                        placeholder="Digite seu país de origem"
                    >
                </div>

                <div class="col-12 mb-3">
                    <label for="bio" class="form-label">Bio:</label>
                    <textarea 
                        id="bio" 
                        name="bio" 
                        rows="6" 
                        class="form-control" 
                        placeholder="O que você quer que as pessoas saibam sobre você?"
                    >{{user.bio}}</textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Atualizar Perfil</button>
        </form>
    </div>
</main>
