<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css">
<script src="/js/dashboard.js" defer></script>

<section>
    <div class="container-fluid">
        <div class="row" id="featured-post">
            <div class="col-12 col-md-6 order-2 order-md-1 mt-4 mt-md-0" id="content">
                <h1>Titulo</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur repellat debitis minus qui
                    eveniet ex eius, rerum perferendis optio maxime nostrum consequatur iure ullam sint facere
                    necessitatibus ipsa, deserunt in?
                </p>

                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p><strong>Autor:</strong> João Silva</p>
                        </div>
                        <div class="col-12 col-md-6">
                            <p><strong>Data:</strong> 30 de Novembro de 2024</p>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <a href="#" class="btn btn-primary" id="read-post">LER AGORA</a>
                </div>
            </div>

            <div class="col-12 col-md-6 order-1 order-md-2">
                <img src="https://conteudize.ai/blog/wp-content/uploads/2024/06/como-criar-prompts-para-geracao-de-imagens-com-ia.webp"
                    alt="Image" class="img-fluid">
            </div>
            {{!-- <div class="row mt-3">
                <div class="col-6">
                    <p><strong>Autor:</strong> João Silva</p>
                </div>
                <div class="col-6">
                    <p><strong>Data:</strong> 30 de Novembro de 2024</p>
                </div>
            </div> --}}
        </div>
    </div>
</section>

<section id="posts" class="py-5">
    <div class="container">
        <h2 class="text-center mb-4">Postagens Recente</h2>
        <div class="row g-4">
            {{#each posts}}
            <div class="col-lg-4 col-md-6">
                <div class="card shadow-sm">
                    <img src="{{this.post_picture}}" class="card-img-top" alt="{{this.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.summary}}</p>
                        <a href="/dashboard/postViewHome/{{this.id}}" class="btn btn-outline-primary">Leia Mais</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>